img {
	width: 100px;
}
.blocco-grande {
	width: 700px;
	height: 700px;
	border: 5px solid black;
	display: flex;
	flex-wrap: wrap;
}
.blocco-piccolo {
	width: calc(100% / 10);
	height: calc(100% / 10);
	border: 2px solid white;
}
.blocco-piccolo.active {
	background-color: red;
}
